<h1 class="comment-main-header">{{vm.artistName}} - {{vm.albumName}} </h1>
<h2>Komentarze </h2>
<div class="new-comment-container" ng-if="vm.isUserAuth">
  <textarea class="form-control" rows="5" ng-model="vm.newComment"></textarea>
</div>
<div class="error-container error-label" ng-show="vm.isAlreadySaveClicked && !vm.isCommentValid()">
  Komentarz musi zawierać co najmniej 10 znaków!
</div>
<div class="button-container" ng-if="vm.isUserAuth">
  <button class="apollo-button apollo-button-main apollo-button-lg" ng-click="vm.onNewCommentButtonClick()">Dodaj</button>
</div>
<div ng-repeat="comment in vm.comments">
  <div class="comment-container" ng-if="comment.id !== vm.editCommentId">
    <div class="comment-header">
      <div class="index-section">
        #{{vm.comments.length - $index}}
      </div>
      <div class="user-section">
        {{comment.userFullName}}
      </div>
      <div class="date-section">
        {{comment.dateAdded}}
      </div>
      <div class="button-section">
        <button class="apollo-button apollo-button-md apollo-button-cancel" ng-if="vm.isAdmin" ng-click="vm.onEditButtonClick(comment)">Edytuj</button>
      </div>
    </div>
    <div class="comment-body">
      {{comment.content}}
    </div>
  </div>
  <div class="edit-comment-container" ng-if="comment.id === vm.editCommentId">
    <textarea rows="3" class="form-control" ng-model="vm.editableComment.content"></textarea>
    <div class="edit-buttons-container">
      <button class="apollo-button apollo-button-md apollo-button-cancel" ng-click="vm.onCancelEditCommentButtonClick()">Anuluj</button>
      <button class="apollo-button apollo-button-md apollo-button-main" ng-click="vm.onSaveButtonClick()">Zapisz</button>
    </div>
  </div>
</div>