<h1 class="comment-main-header">{{vm.artistName}} - {{vm.albumName}} </h1>
<h2>Komentarze </h2>
<div class="new-comment-container" ng-if="vm.isUserAuth">
  <textarea class="form-control" rows="5" ng-model="vm.newComment"></textarea>
</div>
<div class="button-container" ng-if="vm.isUserAuth">
  <button class="apollo-button apollo-button-main apollo-button-lg" ng-click="vm.onNewCommentButtonClick()">Dodaj</button>
</div>
<div ng-repeat="comment in vm.comments">
  <div class="comment-container">
    <div class="comment-header">
      <div class="index-section">
        #{{vm.comments.length - $index}}
      </div>
      <div class="user-section">
        {{comment.userFullName}}
      </div>
      <div class="date-section">
        {{comment.dateAdded}}
      </div>
    </div>
    <div class="comment-body">
      {{comment.content}}
    </div>
  </div>
</div>