.login-container
  display: flex
  .internal-login
    margin: 20px 0
    width: 50%
  .external-login
    width: 50%
    .button-wrapper
      margin-top: 20px
  .error-login-container
    margin-top: -15px
    margin-bottom: 15px
    font-size: 18px
.login-row
  margin-bottom: 15px
  .login-label
    display: inline-block
    font-size: 20px
    font-weight: bold
    margin-right: 15px
    width: 200px
  .login-input
    width: 250px
    display: inline

.success-register
  font-size: 24px

.register-error-container
  position: relative
  margin-bottom: 15px
  margin-top: -15px
  left: 220px
