.login-container
  margin: 20px 0
  .login-row
    margin-bottom: 15px
    .login-label
      display: inline-block
      font-size: 20px
      font-weight: bold
      margin-right: 15px
      width: 200px
    .login-input
      width: 250px
      display: inline

.success-register
  font-size: 24px