.new-album-modal
  padding: 20px
  border-radius: 3px
  background-color: #E1E3E5
  .new-album-header
    font-size: 36px
    text-align: center
    margin-bottom: 20px
  .new-album-row
    display: flex
    margin: 10px 0
    .new-album-label
      font-weight: bold
      font-size: 16px
      width: 130px
      margin-top: 5px
    .small-input
      width: 36%
    .mr10
      margin-right: 10px
  .mt30
    margin-top: 30px
  .error-management-container
    position: relative
    margin-top: -10px
    left: 105px
  .error-management-row-container
    margin-top: -10px
    .row-error
      display: inline
      position: relative
      &.year-error
        left: 105px
      &.duration-error
        left: 300px